<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-4">
                <ul class="list-group">
                    <li v-for="db_item in databases" class="list-group-item">
                        <a v-on:click="chooseDb(db_item.name, $event)"
                           v-bind:class="[{active: db_item.name == active_db}, 'btn btn-xs']">
                            {{db_item.name}}
                        </a>
                        <ul class="list-group">
                            <li v-for="table_item in db_item.tables"
                                v-on:click="chooseTable(table_item, $event)"
                                v-bind:class="{active: table_item == active_table.name}">
                                {{table_item}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-8">
                <div >
                    <textarea v-model="last_query" class="form-control" rows="3" placeholder="Your query"></textarea>
                    <button v-on:click="customQuery" type="submit" class="btn btn-default">Execute</button>
                </div>
                <table class="table" v-if="active_table.name != null">
                    <tr>
                        <th v-for="column in active_table.structure">
                        {{column.Field}}
                        </th>
                    </tr>
                    <tr v-for="row in active_table.data">
                        <td v-for="column in active_table.structure">{{row[column.Field]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
